[submodule "homework-0-kdesouza2"]
	path = homework-0-kdesouza2
	url = https://github.com/Drexel-CS360-Winter-2026/homework-0-kdesouza2.git
[submodule "homework-1-kdesouza2"]
	path = homework-1-kdesouza2
	url = https://github.com/Drexel-CS360-Winter-2026/homework-1-kdesouza2.git
[submodule "homework-2-kdesouza2"]
	path = homework-2-kdesouza2
	url = https://github.com/Drexel-CS360-Winter-2026/homework-2-kdesouza2.git
[submodule "homework-3-kdesouza2"]
	path = homework-3-kdesouza2
	url = https://github.com/Drexel-CS360-Winter-2026/homework-3-kdesouza2.git
[submodule "homework-4-kdesouza2"]
	path = homework-4-kdesouza2
	url = https://github.com/Drexel-CS360-Winter-2026/homework-4-kdesouza2.git
[submodule "homework-5-kdesouza2"]
	path = homework-5-kdesouza2
	url = https://github.com/Drexel-CS360-Winter-2026/homework-5-kdesouza2.git
[submodule "homework-6-kdesouza2"]
	path = homework-6-kdesouza2
	url = https://github.com/Drexel-CS360-Winter-2026/homework-6-kdesouza2.git
